.Bloodpocket-card-container{

    width: 100%;
    height: 80%;
    background-color: blue;
    border-radius: 20px;
    border: 4px solid black;
    margin-top: 2.5%;
    /* padding-top: 5%; */
   
}
.Bloodpocket-card-context{
    margin-top: 3%;
    width: 90%;
    height: 90%;
    margin-right: 5%;
    margin-left: 5%;
    background-color: rgb(60, 255, 0);
    
}
