
.Mypage-myboard-container{

  width: 970px;
  height: 734px;
  margin: auto;
  background-color: aqua;
}
.Mypage-myboard-nav-container{

  width: 100%;
  height: 8%;
  background-color: azure;
  border-bottom: solid 4px #fb4d4e;
}


.Mypage-myboard-nav-class{
  margin-left: 3%;
  margin-top: 1%;
  width: 45%;
  float: left;
}

.Mypage-myboard-all-container{
  width: 90%;
  margin: auto;
  height: 92%;
  background-color: bisque;
}
.Mypage-myboard-board-container{
  width: 50%;
  height: 100%;
  background-color: darkkhaki;
  float: left;
}
.Mypage-myboard-direct-container{
  width: 50%;
  height: 100%;
  background-color: darkgreen;
  float: left;
}
.Mypage-myboard-board-cardarea{
  width: 100%;
  height: 35%;
  background-color: antiquewhite;
}
.Mypage-myboard-direct-cardarea{
  width: 100%;
  height: 35%;
  background-color: rgb(230, 130, 0);
}