.Main-base-Header-container-class{

    float: left;
    width: 100%;
    height: 100%;
    background-color: brown;
   
}

.Main-base-Header-class{
    width: 100%;
    height: 100%;
    float: left;
    
    margin-top: 1%;
    
    background-color: rgb(0, 255, 21);
}
.Main-base-title-container-class{
    width: 100%;
    float: left;
    background-color: coral;
}
.Main-base-title-class{
    width: 100%;
    transform: translate(50%);
    background-color: forestgreen;
}
.Main-base-rank-container-class{

    float: left;
    width:100%;
    background-color: blueviolet;
}
.Main-base-rank-class{
    
    width: 100%;
    transform: translate(50%);
}
.Main-base-list-class{

    background-color: blue;
    width: 10%;
    height: 10%;
    float: left;
    margin-left: auto;

}


.Main-base-list-container-class{

    float: left;
    width: 100%;
    background-color: aqua;
}
.Main-base-list-class{

    float: left;
}