.Directed-inquire-default-footer-container{
    float: left;
    width: 90%;
    height: 90%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: aqua;                
}
.Directed-inquire-default-footer-btn-container{

    width: 100%;
    height: 25%;
    float: inline-start;
    background-color: cadetblue;
  }
  .Directed-inquire-default-footer-btn-class{
    width: 20%;
    height: 100%;
    margin: auto;
  }
  .Directed-inquire-default-footer-info1-class{
    height: 8%;
    margin-top: 2%;
    float: left;
    width: 100%;
    background-color: blueviolet;
    text-align: center;
    font-size: 11px;
    color: rgb(0, 0, 0);
  }
  .Directed-inquire-default-footer-info2-class{
    height: 12%;
    float: left;
    width: 100%;
    background-color: antiquewhite;
    text-align: center;
    color: #fb4d4e;

  }