.Join-main-container-class{

   
    width: 100%;
    height: 100%;
    background-color: aqua;

}

.Join-main-title-container-class{

    width: 100%;
    background-color: burlywood;
    float: left;
}

.Join-main-title-class{
    
    left: 50%;
    background-color: blue;
   width: 15%;
   margin: auto;
   /*밑줄이랑 핏방울과의 간격*/
   padding-bottom: 0.5%;
   border-bottom: solid 4px #fb4d4e;
}
.Join-main-low-info-container-class{

    float: left;
    width: 100%;
    height: 60%;
    background-color: brown;

}
.Join-main-low-info-class{

    font-size: 0.2em;
    color: rgb(177, 177, 177);
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 20%;
    margin-right: 20%;
    
    background-color: blueviolet;
}
.Join-main-low-data-container-class{
float: left;
width: 100%;
background-color: cadetblue;


}
.Join-main-low-data-class{

    margin-left: 20%;
    margin-right: 20%;
    background-color: darkgoldenrod;
}
/*.Join-main-low-data-class{
     background-color: brown; 
    border: 3px solid red;
    border-radius: 30px 30px 30px 30px;
    margin-top: 1%;
    margin-left: 20%;
    margin-right: 20%;
    height: 30%;
}
*/
.Join-main-low-radiobox-container-class{
float: left;
    width: 100%;
    background-color: darkkhaki;
}
.Join-main-low-radiobox-class{

    background-color: blanchedalmond;
    width: 0%;
    margin: auto;
    margin-top: 1%;
}
.Join-main-userdata-container-class{
    float: left;
    width: 100%;
    background-color: rgb(189, 107, 127);
}
.Join-main-btn-container-class{

    float: left;
    width: 100%;
    background-color: rgb(14, 87, 42);
}